@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-neutral-50 antialiased;

  background-image: url("/hero_img.jpg"),
    linear-gradient(to bottom, rgba(4, 7, 17, 0) 50%, #040711 100%);
  background-size: cover, cover; /* Ensure both the image and gradient cover the body */
  background-position: center, center; /* Center the image and gradient */
  background-repeat: no-repeat, no-repeat; /* Prevent repeating */
}
